This is about the R library https://github.com/nflverse/nflfastR

Column header desciptions https://www.nflfastr.com/articles/field_descriptions.html

Beginners guide https://www.nflfastr.com/articles/beginners_guide.html

In [1]:
import nflfastpy

/data/user/0/ru.iiec.pydroid3/files/aarch64-linux-android/lib/python3.9/site-packages/nflfastpy/__init__.py:16: MatplotlibDeprecationWarning: Directly reading images from URLs is deprecated since 3.4 and will no longer be supported two minor releases later. Please open the URL for reading and pass the result to Pillow, e.g. with ``PIL.Image.open(urllib.request.urlopen(url))``.
  default_headshot = mpl_image.imread(headshot_url)

In [2]:
df = nflfastpy.load_pbp_data(year=2021)

In [3]:
df

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,NaN,NaN,NaN,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,TEN,home,ARI,...,0,1,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,TEN,home,ARI,...,0,1,-1.399805,NaN,NaN,NaN,NaN,NaN,0.491433,-49.143299
3,76,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,TEN,home,ARI,...,0,1,0.032412,1.165133,5.803177,4.0,0.896654,0.125098,0.697346,30.265415
4,100,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,TEN,home,ARI,...,0,1,-1.532898,0.256036,4.147637,2.0,0.965009,0.965009,0.978253,2.174652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19168,3930,2021_07_WAS_GB,2021102401,GB,WAS,REG,7,NaN,NaN,NaN,...,0,1,-0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19169,3951,2021_07_WAS_GB,2021102401,GB,WAS,REG,7,WAS,away,GB,...,0,1,0.048929,0.346790,8.670994,7.0,0.405557,0.229636,0.738321,26.167893
19170,3975,2021_07_WAS_GB,2021102401,GB,WAS,REG,7,WAS,away,GB,...,0,1,-0.002632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19171,3996,2021_07_WAS_GB,2021102401,GB,WAS,REG,7,WAS,away,GB,...,0,1,-0.436282,NaN,NaN,NaN,NaN,NaN,0.560572,-56.057179
19172,4028,2021_07_WAS_GB,2021102401,GB,WAS,REG,7,NaN,NaN,NaN,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
sf = df[df[['home_team', 'away_team']] == 'SF']

In [12]:
sf = df[df['home_team'] == 'SF']

In [13]:
sf

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
6770,1,2021_03_GB_SF,2021092613,SF,GB,REG,3,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6771,41,2021_03_GB_SF,2021092613,SF,GB,REG,3,GB,away,SF,...,0,0,-0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6772,56,2021_03_GB_SF,2021092613,SF,GB,REG,3,GB,away,SF,...,0,0,-0.465161,NaN,NaN,NaN,NaN,NaN,0.462507,-46.250743
6773,77,2021_03_GB_SF,2021092613,SF,GB,REG,3,GB,away,SF,...,0,0,0.137956,NaN,NaN,NaN,NaN,NaN,0.578985,-57.898510
6774,98,2021_03_GB_SF,2021092613,SF,GB,REG,3,GB,away,SF,...,1,0,3.808880,0.542536,7.478481,4.0,1.0,1.0,0.910742,8.925837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18295,4000,2021_07_IND_SF,2021102410,SF,IND,REG,7,IND,away,SF,...,0,1,-0.059087,NaN,NaN,NaN,NaN,NaN,0.060107,-6.010672
18296,4021,2021_07_IND_SF,2021102410,SF,IND,REG,7,NaN,NaN,NaN,...,0,1,-0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18297,4038,2021_07_IND_SF,2021102410,SF,IND,REG,7,IND,away,SF,...,0,1,-0.562526,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18298,4063,2021_07_IND_SF,2021102410,SF,IND,REG,7,SF,home,IND,...,0,1,-0.653603,NaN,NaN,NaN,NaN,NaN,0.915340,8.465958
18299,4082,2021_07_IND_SF,2021102410,SF,IND,REG,7,NaN,NaN,NaN,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
import matplotlib as plt
%matplotlib inline

In [15]:
sf.columns

Index(['play_id', 'game_id', 'old_game_id', 'home_team', 'away_team',
       'season_type', 'week', 'posteam', 'posteam_type', 'defteam',
       ...
       'out_of_bounds', 'home_opening_kickoff', 'qb_epa', 'xyac_epa',
       'xyac_mean_yardage', 'xyac_median_yardage', 'xyac_success', 'xyac_fd',
       'xpass', 'pass_oe'],
      dtype='object', length=372)

In [18]:
sf.describe()

,play_id,old_game_id,week,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,quarter_end,drive,sp,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
count,533.000000,5.330000e+02,533.000000,485.000000,533.000000,533.000000,533.000000,533.000000,522.000000,533.000000,...,533.000000,533.000000,524.000000,172.000000,172.000000,172.000000,172.000000,172.000000,391.000000,381.000000
mean,2129.816135,2.021098e+09,4.598499,50.218557,400.502814,790.559099,1671.984991,0.016886,13.226054,0.078799,...,0.045028,0.315197,0.011407,0.726579,5.707027,3.750000,0.807976,0.603116,0.629337,-2.607841
std,1240.065406,4.236512e+03,1.682550,25.392897,278.673885,553.105191,1073.498491,0.128964,7.453416,0.269678,...,0.207561,0.465031,1.303841,0.460456,2.893166,2.853386,0.240852,0.357266,0.248775,42.260038
min,1.000000,2.021093e+09,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,-6.336663,0.101958,0.692063,0.000000,0.160260,0.010496,0.022931,-94.839877
25%,1060.000000,2.021093e+09,3.000000,30.000000,142.000000,270.000000,727.000000,0.000000,7.000000,0.000000,...,0.000000,0.000000,-0.538725,0.340393,3.670878,2.000000,0.595827,0.245509,0.454643,-44.212374
50%,2112.000000,2.021100e+09,4.000000,53.000000,372.000000,787.000000,1796.000000,0.000000,13.000000,0.000000,...,0.000000,0.000000,-0.000000,0.589368,4.685940,3.000000,0.994844,0.526754,0.586305,3.033960
75%,3187.000000,2.021102e+09,7.000000,73.000000,628.000000,1258.000000,2590.000000,0.000000,19.000000,0.000000,...,0.000000,1.000000,0.516575,1.050835,7.632713,5.000000,1.000000,0.999660,0.896566,29.058164
max,4376.000000,2.021102e+09,7.000000,96.000000,900.000000,1800.000000,3600.000000,1.000000,27.000000,1.000000,...,1.000000,1.000000,5.906863,2.208528,16.254484,15.000000,1.000000,1.000000,0.991707,82.754889